<h1> Commits of <%= @branch.name %> branch</h1>
<%= render 'breadcrumbs' %>
<ul>
  <% @logs.each do | log |  %>

  <li><%= link_to log.message, repository_commit_path(@repo,log.sha) %></li>
  <% end %>
</ul>
