<h1> Commits of <%= @repo.name %></h1>
<ul>
	<% @logs.each do | log |  %>

	<li><%= link_to log.message, repository_commit_path(@repo,log.sha) %> </li>
	<% end %>
</ul>

<ul>
  <% @branches.each do | branch |  %>

  <li><%= link_to branch.name, repository_branch_path(@repo,branch) %></li>
  <% end %>
</ul>
